* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: GT;
  src: url("../fonts/GT-America-Condensed-Regular.otf") format("opentype");
  src: url("../fonts/GT-America-Condensed-Regular.ttf") format("truetype");
} 

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  width: 100%;
  background-color: #ddd;
}

.top-nav {
  width: 150px;
  height: 100%;
  float: left;
}
.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  margin-bottom: 10px;
}

.top-nav a {
  display: block;
  padding: 10px;
  background-color: #aaa;
  color: white;
  text-decoration: none;
}
.content {
  position:relative;
  height: 100%;
  background-color: #eee;
}
.bottom-nav {
  height: 100%;
  float: right;
}
.bottom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-nav li {
  float: right;
}

.bottom-nav a {
  display: block;
  width: 200px;
  height: 90px;
  /* line-height: 90px; */
  text-align: center;
  background-color: #aaa;
  color: white;
  text-decoration: none;
}

header nav { 
  font-family:GT;
  font-size: 28px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
body { 
  margin:0 auto;
  width:1366px;
  height:1024px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(52, 62, 89, .75);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 814px;
  min-height:514px;
  height:fit-content;
  position:relative;
}
/* modal sizes */

/* end modals */
.charts { 
  width: 76% !important;
  margin-top: 20px;
  padding-bottom:20px;
}
.modal-content img { 
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chartz .modal-content { 
  max-width: fit-content;
  height: fit-content;
}
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  padding: 13px;
  position: absolute;
  right: 0px;
  z-index:+1;
}
.close img { 
  width:35px !important;
  height:35px !important;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
header {
  height: 70px;
  border-bottom: 2px solid rgba(115, 123, 143, .5);
  background: #f6f6f6;
  width: 1207px;
  margin: 0 auto;
  position:relative;
}
.hmp { 
  display:none;
}
button {
  border:0px;
  outline:0px;
  background:none;
  cursor:pointer;
}
.h11 { 
  margin-top: 20%;
  margin-left: 6%;
  width:20%;
}
.h112 { 
  width: 41%;
  margin-left: 20px;
  margin-top: 13px;
}
.prior {
  position: absolute;
  top: 332px;
  width: 25%;
  right: 0%;
}
.mod-6 { 
  margin-left:23px;
}
.two-dots { 
  right: -8px !important;
  /* top: 51px !important; */
}
.dots3 { 
  margin-top: -4px;
  margin-right: 6px;
  width: 37%;
}
.mvit { 
  margin-right: -7px;
  width: 45%;
}
.t3top-img { 
  width: 62%;
  float: left;
  margin-left: 23px;
  margin-top: 12px;
}
.survey-i-3 { 
  width: 23%;
  float: right;
  margin-top: -300px;
  margin-right: 40px;
}
.svny { 
  width:68% !important;
}
.four2-dot { 
  right: -78px !important;
  top: 47px !important;
  width: 43%;
}
.egty { 
  width:85% !important;
}
.ttp { 
  width: 40%;
  margin-right: 1px;
}
.i-54 { 
  float: left;
  margin-top: 206px;
  margin-left: -416px;
  width: 27%;
}
.pop54 { 
  margin-top: -517px !important;
}
.dots52 { 
  margin-right:15px;
  margin-top:-2px;
}
.mvu { 
  margin-top:0px;
}
.dots53 { 
  margin-right: 15px;
  margin-top: 2px;
}
.dots54 { 
  margin-right: 6px;
  margin-top:-2px;
}
.dots5 { 
  margin-right: -13px;
}
.fiv4pop { 
  width: 60% !important;
  margin-top: 10px;
}
.ff-pag { 
  margin-top: -3px !important;
  right: -97px !important;
}
.ttt-pop { 
  margin-top: 14px !important;
  margin-right: 5px !important;
}
.tpop1 { 
  width: 87%;
}
.mod-ttt { 
  margin-left: 42px;
}
.tp-burden-im { 
  margin-left: 41px !important;
  margin-top: 50px;
  width: 850px;
  max-width: 850px;
  height: 193px;
  max-height: 193px;
}
.stdy-i-btn { 
  width: 47%;
  margin-left: -158px;
  margin-top: 20px;
}
.survey-i { 
  float: right;
  margin-top: -432px;
  width: 35%;
  margin-right: 40px;
}
.t2top-img { 
  width:75%;
  margin-left: 20px;
  float:left;
}
.t2top { 
  padding-top:40px;
  margin-left:23px;
}
.study-i-btn { 
  width: 31%;
  float: left;
  margin-left:20px;
}
.s-pop { 
  width: 90%;
  margin-top: 20px;
  padding-bottom: 40px;
}
.pop5 { 
  width: 97% !important;
  margin-top: 10px;
}
.nxt {
  margin-left: 6%;
}
.five-popd {
  position: absolute;
  left: -122px;
  top: 301px;
}
.cdc-i { 
  float: left;
  top: 680px;
  width: 645px;
  margin-left: 42px;
  margin-top: 12px;
}
.t-cop { 
  float: left;
  width: 892px;
  top: 724px;
  margin-left: 44px;
  margin-top: 25px;
}
.t-cop2 { 
  width: 51%;
  position: absolute;
  top: 670px;
  margin-left: 122px;
}
.e-top {
  width: 65%;
  margin-top: 40px;
  margin-left: 30px;
}
.f-pop { 
  width: 64%;
  margin-left: -100px;
}
.whatcauses {
  width: 69%;
  margin-top: 54px;
  margin-left: 41px;
}
.mod-t { 
  margin-left: -23px;
}
.mod-21 { 
  width: 811px;
  height: 677px;
}
ul, li { 
  list-style:none;
  float:left;
}
.top-nav {
  float: right;
  margin-top:17px;
  width:fit-content;
}
.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav li {
  margin-bottom: 10px;
  background:none;
}
.top-nav a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
div[id$="wrapper_text"] {
  margin: auto;
  width: 50%;
}
.eighttwo {
  width: 85%;
  margin-top: 21px;
  margin-left: -87px;
}
.fourtw {
  width: 96%;
  margin-top: 25px;
  margin-left: 20px;
}
.f-tt { 
  margin-top: 8px;
}
.shrn { 
  margin-top: 10px;
}
.hundy { 
  width:100% !important;
}
.lhundy { 
  width:84% !important;
}
.lrtpd { 
  padding-left:20px;
  padding-right:20px;
  padding-bottom:70px;
}
.three-t { 
  width: 100%;
  margin-top: 25px;
}
.hng-im { 
  width: 1293px;
  margin-left: -81px;
  height: 864px;
}
.vhght { 
  min-height:unset !important;
}
.content {
  height: 864px;
  background-color: #f6f6f6;
  background-image: url(../images/vector.png);
  background-repeat: no-repeat;
  background-position: 1017px;
  width: 1207px;
  margin: 0 auto;
  position: relative;
  background-size: contain;
}
.tcopy2 { 
  width: 907px;
  position: absolute;
  top: 678px;
  margin-left: 125px;
}
.full-im {
  width:99.5%;
  height:100%;
}
.char-ico { 
  width: 439px;
  height: 337px;
  margin-right: 16px;
}
.top-nav img {
  position: absolute;
  right: -75px;
  top: 71%;
  transform: scale(0.7);
}
.bg-none { 
  background-image:none !important;
}
.refs {
  width: 80%;
  margin-left: 20px;
  margin-top: 20px;
}
.content-hp { 
  width: 100% !important;
  height:930px;
}
.modal-content-vid { 
  width:100%;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  position:relative;
}
.video { 
  float: right;
  width: 65.8%;
  margin-right: 37px;
  margin-top:-9px;
}
.video img { 
  float:right;
}
.emily { 
  position: absolute;
  top: 6%;
  width: 461px;
  right: 130px;
  height:608px;
  right:72px;
}
.bottom-cta { 
  width: 80%;
  margin-top: 105px;
}
.f-hd { 
  float: left;
  width: 64%;
  margin-top: 43px;
  margin-left: 23px;
}
.f-cpy { 
  float: left;
  width: 35%;
  margin-left: 30px;
}
.mr-fll { 
  width:102%;
}
.t-pag { 
  /* width: 20% !important; */
  margin-top: 14px;
}
.npag { 
  /* width: 9.1% !important; */
  margin-top: 18px;
}
.mv { 
  margin-left:9px;
}
.top-img { 
  width: 70%;
  margin-top: 35px;
  margin-left: 25px;
  padding-bottom: 10px;
}
.t-chart { 
  width: 89%;
  margin-top: 47px;
}
.top-img { 
  width:60%;
}
.phex { 
  width:99% !important;
  padding-top:10px;
}
.mod-31 { 
  width: 45% !important;
  /* padding-top: 20px; */
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom:10px;
}
.btn { 
  width:70%;
}
.d-na { 
  margin-top: 80px;
  width: 78% !important;
  padding: 4px;
  padding-bottom:120px;
}
.tredos {
  width: 100% !important;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 40px;
}
footer {
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-top: 1.5px solid rgba(115, 123, 143, .5);
  border-bottom: 1.5px solid rgba(115, 123, 143, .5);
  overflow:hidden;
}
.bottom-nav {
  height: 100%;
  float: right;
  background-color: #FFFFFF;
}
.bottom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bottom-nav li {
  float: right;
  text-transform: uppercase;
}
.bottom-nav li.one { 
  width: 282px;
  margin-right: 57px;
}
.bottom-nav li.one img { 
  margin-top: 20px;
  margin-left: 22px;
}
.bottom-nav a {
  display: block;
  width: 200px;
  height: 87px;
  line-height: 90px;
  text-align: center;
  background-color: #FFFFFF;
  color: white;
  text-decoration: none;
  border-left: 1.5px solid rgba(115, 123, 143, .5);
}
.one-mg { 
  margin-top: 14px;
  /* width: 14% !important; */
}
.ttmod { 
  margin-left:25px;
  margin-top:70px;
}
.ttpag { 
  margin-top: 16px;
}
.epagn { 
  margin-top: 13px;
}
.pag6 { 
  margin-top: 3px;
  margin-right: 5px;
} 
.sixpag { 
  margin-top: 1px;
  margin-right: -32px;
}
.lsml { 
  float: right;
  margin-top: -164px;
  margin-right: 100px;
}
.fv-4pg { 
  margin-right: -1px;
}
.lsml img { 
  width:70%;
  float:right;
}
.fonepag { 
  margin-top: 2px;
}
.fonepg { 
  margin-top: 6px;
}
.f-2pg { 
  margin-top: 7px;
}
table.table-pdfs {
  width: 80%;
  border: none;
  color: #000000;
  margin-right:-10px;
}
table {
  margin-left: 27px;
}

table img { 
  width: 100%;
}

table.table-pdfs td, table.table-pdfs th {
  border-width: 1px;
  border: none;
  padding: 3px;
}

table.table-pdfs thead {
  background-color: none;
}

.svnpg { 
  margin-top: 15px;
}